.container {
    width: calc(100vw - 50px);
    height: calc(100vh - 55px);
    background-color: rgb(24, 21, 21);
    position: relative;
    /* left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.query {
    border: 1px solid rgb(85, 82, 82);
    /* width: 60%; */
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(122, 120, 120);
    transition: 0.3s;
}

.query div {
    font-size: 2rem;
}

.query > input {
    width: 90%;
    height: 32px;
    padding-left: 10px;
    margin: 20px;
    color: black;
    font-size: 18px;
}

.query button {
    background-color: rgb(54, 50, 50);
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(75, 72, 72);
    box-shadow: 0 0 3px white;
}

.query button:hover {
    background-color: rgb(71, 69, 69);
    transition: 0.3s;
}